





      <%= form_for(Menu.new, url: menu_managements_path, method: "post") do |f| %>
        <div class="operator_wrap">
          <% if operator_signed_in? %>
            로그인한 유저:
            <%= current_operator.email %>
          <% end %>
          <p><%= link_to '로그아웃', session_path(current_operator.email), method: 'delete' %></p>
          <div class="operator_logo"></div>
          <nav class="operator_bar_nav">
            <ul class="operator_bar_list">
              <hr>
              <%= link_to '주문 현황', '/bill_checks/index/' + params[:br_id] %>
              <%= link_to '테이블 만들기', '/table_managements/new/' + params[:br_id] %>
              <a class="menu_icon" href="#">메뉴</a>
              <a href="https://www.youtube.com/watch?v=Jitf9tgAJEw&index=7&list=RD5shZgGNGs58">사용법</a>
              <hr>
            </ul>
            <ul class="menu_bar">
              <div class="test">
                <%= link_to '메뉴 생성', '/menu_managements/new/' + params[:br_id] %>
                <a href="#">메뉴 수정</a>
                <a href="#">메뉴 삭제</a>
              </div>
            </ul>

          </nav>


          <section class="create_menu_section"><!-- 상단바 밑 전체 화면 -->
            <h1>메뉴 생성</h1>

            <div class="add_box">

              <div class="add_menu_click">
                <%= image_tag "Add-icon.png", class: "plus_icon" %>
              </div><!-- add_menu_click end -->

              <div class="add_menu_detail">
                <table class="menu-table">
                  <tr>
                    <td>
                      <input type="file"><br>
                    </td>
                  <tr>
                    <td>
                      <%= f.label :title, '메뉴명' %>
                      <%= f.text_field :name, required: true %> <br>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :contents, '가격' %>&nbsp&nbsp&nbsp
                      <%= f.number_field :price, required: true %> <br>
                      <%= hidden_field_tag 'br_id', params[:br_id] %>
                      <%= f.submit '생성' %>
                    </td>
                  </tr>

                </table>
              </div><!-- add_menu_detail end -->
            </div>
            <% @menu_id.each do |x| %>
              <div>

                <%= x.name %> <%= x.price %> 원</p>
                <p><%= x.content %></p>

                <form action="<%= edit_menu_management_path (x.id) %>">
                  <input type="hidden" name="authenticity_token" value="<%= @token %>">
                  <input type="hidden" name="m_id" value="<%= x.id %>">
                  <input type="hidden" name="br_id" value="<%= x.branch_id %>">
                  <input type="hidden" name="m_name" value="<%= x.name %>">
                  <input type="hidden" name="m_price" value="<%= x.price %>">
                  <input type="hidden" name="m_content" value="<%= x.content %>">
                  <input type="submit" value="수정하기">
                </form>

                <%= link_to menu_management_path(x.id), method: 'delete' do %>
                  <input type="hidden" name="authenticity_token" value="<%= @token %>">
                  <button>삭제하기</button>
                  <br>
                <% end %>
              </div>
            <% end %>



          </section><!-- create section end -->
        </div>
      <% end %>

