<div class="user_wrap">
  <% if user_signed_in? %>
    로그인한 테이블:
    <%= current_user.id %>
  <% end %>
  <p><%= link_to '로그아웃', session_path(current_user.id), method: 'delete' %></p>  <!-- 로그아웃되게 해주세요.... -->
  <a href="/users#index">
    <div class="user_logo"></div>
  </a>
  <nav class="user_bar_nav">
    <ul class="user_bar_list">
      <hr>
      <%= link_to '주문하기', users_path %>
      <%= link_to '주문내역', '/users/order_history' %>
      <%= link_to '사용법', '/users/menual_user' %>
      <hr>
    </ul>
  </nav>
</div>
<section class="order">
  <article class="order-num1">
    <div class="order-num1-image"></div>ㅡ
    <p>1</p>
    <p>2</p>
  </article>

  <article class="order-num2">
    <div class="order-num2-image"></div>
    <p>1</p>
    <p>2</p>
  </article>


  <article class="order-num3">
    <div class="order-num3-image"></div>
    <p>1</p>
    <p>2</p>
  </article>

  <article class="order-num4">
    <div class="order-num4-image"></div>
    <p>1</p>
    <p>2</p>
  </article>

  <article class="order-num5">
    <div class="order-num5-image"></div>
    <p>1</p>
    <p>2</p>
  </article>


  <article class="order-num6">
    <div class="order-num6-image"></div>
    <p>1</p>
    <p>2</p>
  </article>


  <article class="order-num7">
    <div class="order-num7-image"></div>
    <p>1</p>
    <p>2</p>
  </article>

  <article class="order-num8">
    <div class="order-num8-image"></div>
    <p>1</p>
    <p>2</p>
  </article>

  <input class="submit" type="submit" value="주문하기">


</section>