<div class="user_wrap">
  <% if operator_signed_in? %>
    로그인한 유저:
    <%= current_operator.user_id %>
  <% end %>
  <p><%= link_to '로그아웃', session_path(current_operator.user_id), method: 'delete' %></p>  <!-- 로그아웃되게 해주세요.... -->
  <a href="/users#index">
    <div class="user_logo"></div>
  </a>
  <nav class="user_bar_nav">
    <ul class="user_bar_list">
      <hr>
      <%= link_to '주문하기', users_path %>
      <%= link_to '주문내역', '/users/order_history' %>
      <%= link_to '사용법', '/users/menual_user' %>
      <hr>
    </ul>
  </nav>
</div>

<section class="video">

  <iframe width="668" height="376" src="https://www.youtube.com/embed/3MRvKJZEd6w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</section>