<div class="user_wrap">
  <% if operator_signed_in? %>
    로그인한 유저:
    <%= current_operator.user_id %>
  <% end %>
  <p><%= link_to '로그아웃', session_path(current_operator.user_id), method: 'delete' %></p>  <!-- 로그아웃되게 해주세요.... -->
  <a href="/users#index">
    <div class="user_logo"></div>
  </a>
  <nav class="user_bar_nav">
    <ul class="user_bar_list">
      <hr>
      <%= link_to '주문하기', users_path %>
      <%= link_to '주문내역', '/users/order_history' %>
      <%= link_to '사용법', '/users/menual_user' %>
      <hr>
    </ul>
  </nav>
</div>

<div class="order-history">
  <section class="order-history-table">
    <li>No.3</li>  <!-- 테이블 정보를 받아서 그수 를 출력-->
  </section> <!-- index-history-table-->

  <section class="order-history-menu">
    <ul>
      <li class="order-history-menu-top">주문한 메뉴</li>
    </ul>
    <section class="order-history-menu-bottum">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
      </ul>
    </section><!--index-history-menu-bottum-->

    <section class="order-history-menu-bottum-total">
    <ul>
      <li>총        합</li>
    </ul>
    </section><!--index-history-menu-bottum-total-->

  </section><!--index-history-menu-->

  <section class="order-history-price"><ul>
    <li class="order-history-menu-price">가격</li>
  </ul>
    <section class="order-history-price-bottum">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
      </ul>

    </section><!--index-history-price-bottum-->
    <section class="order-history-price-bottum-total">
      <ul>
        <li>30000</li>
      </ul>
    </section><!--index-history-menu-bottum-total-->


  </section><!--index-history-price-->

</div> <!-- index-history-->